ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px 16px;
}

ul li a {
	width:80%;
}

ul li:last-child {
    border-bottom: none
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
	border-radius: 4px;
    text-align: center;
    text-decoration: none;
	width = 100%;
    display: inline-block;
}

a.democratic {
	background-color: #4682b4;
}

a.republican {
	background-color: #b22222;
}